/*
COLORS
================================================ */
:root {
    --text: #333;
    --bg: #fff;
    --video-opacity: .5;
}
@media (prefers-color-scheme: dark) {
    :root {
        
    }
}

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
	color: var(--text);
    background: var(--bg);
    font-family: 'Bree Serif', sans-serif;
    
}

/*
COMMON
================================================ */
p {
    line-height: 1.7;
}
img {
    max-width: 100%;
}
a:hover {
    color: #0bd;
}

/*
HEADER
================================================ */
header {
    
}
.header-text {
    
}
.header-title {
    font-size: 2rem;
}
.header-name {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.header-link {
    font-size: 1.25rem;
}
.header-pattern {
    
}
header video {
    
}
.header-text,
header video {
    
}

/*
GRID
================================================ */
.grid {
    
}
.grid-item {
    
}
.grid-big-top {
    
}
.grid-big-bottom {
    
} 

/*
FOOTER
================================================ */
footer {
    text-align: center;
    padding-bottom: 3rem;
}
.footer-link {
    margin-bottom: .5rem;
}

/*
LIGHTBOX LUMINOUS
================================================ */
.lum-lightbox.lum-open {
    
}
.lum-lightbox-inner img {
    
}

/*
DESKTOP SIZE
================================================ */
@media (min-width: 600px) {
/* Header */
    .header-name {
        font-size: 5rem;
    }
/* Grid */
    .grid {
        
    }
    .grid-big-bottom {
        
    }
    .grid-item {
        
    }
    .grid-item:hover {
        
    }
}